<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>p5.js on Flask</title>
</head>
<body>
    <h1>Welcome to Visual art with Gabor patch</h1>
    <h2>basic mode</h2>
    <a href="/sketch_b_01">mode1</a>
    <br><a href="/sketch_b_02">mode2</a>
    <br><a href="/sketch_b_03">mode3 (under construction)</a>
    <h2>generative mode</h2>
    <a href="/sketch_g_01">mode1</a>
    <br><a href="/sketch_g_02">mode2</a>
    <br><a href="/sketch5">mode3 (under construction)</a>
    <!-- <br>
    <a href="/sketch2">Go to Sketch 2</a> -->
    <br>
    <h2>interaction mode</h2>
    <a href="/sketch_i_01">mode1</a>
    <br><a href="/sketch_i_02">mode2</a>
    <br><a href="/sketch_i_03">mode3</a>
    <br>
</body>
</html>